body
{
  margin: 0;
  background-color: rgb(59, 56, 56);
  color: white;
}
ul
{
list-style-type: none;
margin: 0;
padding: 0;
width: 10%;
background-color: #300303;
position: fixed;
height: 100%;
overflow: auto;
}

li a 
{
  display: block;
  color: blueviolet;
  padding: 5px 5px 10px 10px;
  text-decoration: none;
}
li a.aktiv
{ 
  background: #500000;
  color:rgb(45, 243, 5);
}
li a:hover:not(.aktiv)
{
  background-color: #808080;
  color:white;
}

#div1
 {
  margin-left: 10%;
  padding: 10px 10px;
  height: 100%;
}
#erster_button
{
  margin-left: 20%;
  background-color: #034d10;
  color: #ffffff;
  display: flex;
}

#meinInput
{
  margin-left: 20%;
  display: flex;
}
#canvas
{
  background-color: #034d10;
  margin-top: 1%;
  margin-left: 12%;
}