body
{
  margin: 0;
  background-color: rgb(59, 56, 56);
  color: white;
}
ul
{
list-style-type: none;
margin: 0;
padding: 0;
width: 10%;
background-color: #300303;
position: fixed;
height: 100%;
overflow: auto;
}

li a 
{
  display: block;
  color: blueviolet;
  padding: 5px 5px 10px 10px;
  text-decoration: none;
}
li a.aktiv
{ 
  background: #500000;
  color:rgb(45, 243, 5);
}
li a:hover:not(.aktiv)
{
  background-color: #808080;
  color:white;
}

#div1
 {
  margin-left: 10%;
  padding: 10px 10px;
  height: 100%;
}

#erster_button
{
  margin-top: 10px;
  background-color: #034d10;
  color: #ffffff;
  top: 280px;
  left: 350px;
  display:none;
  position: absolute;
}

#meinInput
{
  margin-top: 10px;
  margin-bottom: 10px;
  position: absolute;
  top: 150px;
  left: 350px;
}